.rodape {
    background-color: #051D3C;
}

.footer {
    padding: 4vw 0vw 0vw 0vw;
    color: white;
    display: flex;
    flex-direction: row; /* para deixar em linha */
    justify-content: space-between;
    
}

.part-1 {
    display: block;
}

.logo-2{
    padding-left: 5vw;
}

.logo-2 img{
    width: 9vw;
}

.info, .info-2{
    padding-left: 5vw;
    padding-top: 4vw;
}

.info p {
    font-size: 1.3vw;
}

.info-2 p{
    font-size: 1.2vw;
}

.part-2 {
    margin-top: 2.34375vw;
    margin-right: 170px;
}

.titulo > p{
    text-decoration: underline;
    text-underline-offset: 0.78125vw;
    margin-bottom: 1.5625vw;
}

.nav li{
    list-style-type: none;
    margin-bottom: 1.5625vw;
}

.part-3{
    transform: translateX(-9.375vw);
}

.redes-sociais h1{
    transform: translateX(-15.625vw);
    margin-top:2.34375vw;
    font-size: 1.171875vw;
    text-decoration: underline;
    text-underline-offset: 0.78125vw;
    margin-bottom: 1.5625vw;
}

.icons {
    width: 70%;
    display: flex;
    transform: scale(2.0);
    justify-content: space-between;
    margin-left:  -13.28125vw;
    margin-top: 2.34375vw;

}

.part-4 {
    padding: 2%;
    color: white;
    display: flex;
    border-top:  0.078125vw solid #bbb;
    border-radius: 0.078125vw;
    margin-top: 2.34375vw;

}


.rodape h5{
    margin-top: 1.5625vw;
    margin-left: 35.9375vw;
}


